
// Fonts

// @import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#root {
  //font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Eater', cursive;
  text-shadow: darkmagenta 5px 0 10px;
  border: solid 24px greenyellow;
}

