
// Fonts

// @import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
// Variables
@import 'variables';
// @import './assets/campagne.jpg';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#root{
  background: url("./assets/mur-bois.jpg")t;
  
}
body{
  background: #BCD7DD;
  font-family: 'Noto Serif', serif;
  overflow-x: hidden;
}

#navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
  background-color: #207A8E;
  color: #CFFCFF;
  z-index: 2;
  filter: drop-shadow(0px 10px 2px #CFFCFF);

}

#btn{
  margin: 10px;
}
.centre{
  text-align: center;
  width: 850px;
  margin: 0 auto;
}
.navButton{
 background-color: #CFFCFF;
 border: solid 1.75px #40C0DD;
 margin: 5px;
}

.navbar-brand{
  font-family: 'Fascinate Inline', cursive;
  z-index: 2;
  text-shadow: #40C0DD 4px 0 10px;
}

#past{
  text-align: center ;
  font-family: 'IBM Plex Sans', sans-serif;
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
  margin: 0 auto;
}

.logoContainer{
  position: -webkit-sticky;
  position: sticky;
  top: 87px;
  background-image: url('./assets/campagne.jpg');
  background-position: bottom;
  background-size: 100% 500px;
  width: 100%;
  object-fit: scale-down;
  z-index: 1;
  margin-bottom: 30px;
}


img{
  margin-top: 190px;
  width: auto;
  height: 155px;
  position: relative;
}
 

@keyframes slidein {
  from {
    margin-left: -15%;
  }

  to {
    margin-left: 80%;
  }
}


#formulaire{
  text-align: center ;
  font-family: 'IBM Plex Sans', sans-serif;
  display: block;
  margin-bottom: 30px;
  margin-top: 40px;
  width: 850px;
  margin: 15px auto;
}

#bntsubmit{
  margin: 0 auto;
}

#text-center{
  text-align: center ;
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
#deck{
  text-align: center ;
  margin-right: 0px;
  margin-left: 0px;
}

#buttonevent{
  width: 80px;
}

#modalBtn{
  width: 80px;
}

.row{
  display: flex;
  justify-content: center;
}
footer{
  background: #D6E5E3;
  border-top: 2.5px solid  #40C0DD;
  text-Align: center;
  position: fixed;
  bottom: 0;
  height: 130px;
  width: 100%;
}